html
  head
    title=title
  body
    h1=add
    form
      input(
        type='text'
        placeholder='Inserisci issue'
      )
      input(
        type='submit'
        value='aggiungi'
      )
