html
  head
    title='Static Server'

  body
    h1='Issue Panel'

    form
      input(
        type='text'
        placeholder='Inserisci issue'
      )
      input(
        type='submit'
        value='aggiungi'
      )

    div
      - var i = 0;
      for value, index in issues
        tr(id='id'+i++)
          h3=index
          p=value
          hr