html
  head
    title='Jira Issues Panel'
    script(src='jquery.js')
    script(src='bs/js/bootstrap.js')
    script(src='client.js')
    link(rel='stylesheet' href='bs/css/bootstrap.css')
    link(rel='stylesheet' href='style.css')
    link(rel='icon' href='ico.png')

  body
    h1='Issues'

    form
      input(type='text' placeholder='Inserisci una issue')
      input(type='submit' value='aggiungi')

    table(class='table')
      - var i = 0;
      for state, issue in issues
        tr(id='id'+i++)
          td
            input(
              type='text'
              placeholder=issue
              class='col-3 form-control-plaintext float-left'
            )
            input(
              type='submit'
              value='X'
              class='btn close btn-sm float-right'
            )
            br
            input(
              type='submit'
              value=state
              class='btn btn-primary btn-sm'
            )
